In [4]:
import numpy as np
import pandas as pd 
import math

C:\Users\pinto\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [5]:
df= pd.read_csv(r"F:\WORK\Machine Learning\Gradient Descent- Cost Function\test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [20]:
def gradient_descent(x,y):
    m_curr=0
    b_curr=0
    iterations=50
    n= len(x)
    learning_rate=0.0001
    
    for i in range(iterations):
        yp=m_curr*x+b_curr
        cost=(1/n)*sum([val**2 for val in (y-yp)])
        md=-(2/n)*sum (x*(y-yp))
        bd=-(2/n)*sum (y-yp)
        m_curr=m_curr-learning_rate*md
        b_curr=b_curr-learning_rate*bd
        
        print("m {},b {},cost {},iterations {}".format(m_curr,b_curr,cost,i))
        
    return m_curr, b_curr

x=np.array(df.math)
y=np.array(df.cs)
gradient_descent(x,y)

m 0.9891800000000002,b 0.013980000000000001,cost 5199.1,iterations 0
m 1.0416176032,b 0.0147417592,cost 46.3330473650399,iterations 1
m 1.0443971065873279,b 0.014802799669408,cost 31.852649863558305,iterations 2
m 1.0445441606668626,b 0.014826693765467417,cost 31.811952059367805,iterations 3
m 1.0445516647187705,b 0.014848618440205038,cost 31.811832943358482,iterations 4
m 1.0445517710206773,b 0.014870438475874223,cost 31.81182786237329,iterations 5
m 1.0445514851602624,b 0.0148922527273428,cost 31.811823101960222,iterations 6
m 1.0445511785140886,b 0.014914066435056226,cost 31.81181834255699,iterations 7
m 1.0445508707693771,b 0.01493587987682099,cost 31.811813583265543,iterations 8
m 1.0445505629697767,b 0.014957693067366749,cost 31.811808824083364,iterations 9
m 1.044550255170612,b 0.014979506007477059,cost 31.811804065010467,iterations 10
m 1.0445499473748168,b 0.015001318697196186,cost 31.81179930604682,iterations 11
m 1.0445496395825458,b 0.015023131136529195,cost 31.811794547192434,iterations 12
m 1.0445493317938075,b 0.015044943325479078,cost 31.81178978844727,iterations 13
m 1.0445490240086022,b 0.015066755264048713,cost 31.811785029811393,iterations 14
m 1.04454871622693,b 0.015088566952240978,cost 31.81178027128471,iterations 15
m 1.0445484084487908,b 0.015110378390058745,cost 31.811775512867314,iterations 16
m 1.0445481006741846,b 0.015132189577504887,cost 31.811770754559184,iterations 17
m 1.0445477929031113,b 0.01515400051458228,cost 31.811765996360236,iterations 18
m 1.0445474851355707,b 0.015175811201293797,cost 31.811761238270567,iterations 19
m 1.044547177371563,b 0.015197621637642314,cost 31.8117564802901,iterations 20
m 1.0445468696110882,b 0.015219431823630702,cost 31.811751722418904,iterations 21
m 1.0445465618541463,b 0.015241241759261838,cost 31.81174696465691,iterations 22
m 1.0445462541007369,b 0.015263051444538593,cost 31.811742207004155,iterations 23
m 1.0445459463508602,b 0.015284860879463841,cost 31.81173744946062,iterations 24
m 1.0445456386045162,b 0.015306670064040457,cost 31.811732692026307,iterations 25
m 1.0445453308617048,b 0.015328478998271312,cost 31.811727934701214,iterations 26
m 1.0445450231224258,b 0.015350287682159283,cost 31.81172317748536,iterations 27
m 1.0445447153866794,b 0.015372096115707242,cost 31.811718420378693,iterations 28
m 1.0445444076544654,b 0.015393904298918064,cost 31.811713663381234,iterations 29
m 1.044544099925784,b 0.015415712231794622,cost 31.811708906493,iterations 30
m 1.0445437922006349,b 0.015437519914339788,cost 31.811704149713975,iterations 31
m 1.0445434844790182,b 0.015459327346556438,cost 31.81169939304415,iterations 32
m 1.0445431767609337,b 0.015481134528447443,cost 31.81169463648351,iterations 33
m 1.0445428690463816,b 0.01550294146001568,cost 31.8116898800321,iterations 34
m 1.0445425613353618,b 0.01552474814126402,cost 31.811685123689838,iterations 35
m 1.044542253627874,b 0.015546554572195332,cost 31.811680367456837,iterations 36
m 1.0445419459239182,b 0.015568360752812498,cost 31.811675611332994,iterations 37
m 1.0445416382234949,b 0.015590166683118389,cost 31.811670855318336,iterations 38
m 1.0445413305266036,b 0.015611972363115874,cost 31.81166609941286,iterations 39
m 1.0445410228332441,b 0.015633777792807828,cost 31.811661343616585,iterations 40
m 1.0445407151434167,b 0.015655582972197123,cost 31.811656587929505,iterations 41
m 1.0445404074571212,b 0.015677387901286637,cost 31.811651832351572,iterations 42
m 1.0445400997743577,b 0.01569919258007924,cost 31.811647076882846,iterations 43
m 1.044539792095126,b 0.015720997008577806,cost 31.811642321523266,iterations 44
m 1.0445394844194262,b 0.015742801186785206,cost 31.811637566272857,iterations 45
m 1.044539176747258,b 0.015764605114704313,cost 31.81163281113166,iterations 46
m 1.0445388690786215,b 0.015786408792338003,cost 31.81162805609962,iterations 47
m 1.044538561413517,b 0.01580821221968915,cost 31.811623301176713,iterations 48
m 1.0445382537519439,b 0.015830015396760624,cost 31.81161854636297,iterations 49

(1.0445382537519439, 0.015830015396760624)

In [17]:
yp=92*1.0445+.0158
yp

96.10979999999999

In [8]:
from sklearn import linear_model

In [12]:
new_df=df.drop('name',axis='columns')
new_df

   math  cs
0    92  98
1    56  68
2    88  81
3    70  80
4    80  83
5    49  52
6    65  66
7    35  30
8    66  68
9    67  73

In [15]:
model=linear_model.LinearRegression()
model.fit(new_df[['math']],new_df.cs)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
model.predict([[92]])

array([95.54695319])